<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ClientWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>


	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>controllers.Index</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>IndexRedir</servlet-name>
		<servlet-class>controllers.Index</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IndexRedir</servlet-name>
		<url-pattern>//*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>controllers.SignIn</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>SignOut</servlet-name>
		<servlet-class>controllers.SignOut</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignOut</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>controllers.SignUp</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>controllers.Search</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Categories</servlet-name>
		<servlet-class>controllers.Categories</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Categories</servlet-name>
		<url-pattern>/categories</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>Product</servlet-name>
		<servlet-class>controllers.Product</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Product</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>Basket</servlet-name>
		<servlet-class>controllers.Basket</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Basket</servlet-name>
		<url-pattern>/basket</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>Account</servlet-name>
		<servlet-class>controllers.Account</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/myaccount</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>SignUpConf</servlet-name>
		<servlet-class>controllers.SignUpConf</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignUpConf</servlet-name>
		<url-pattern>/signupconfirmation</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MyOrders</servlet-name>
		<servlet-class>controllers.MyOrders</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyOrders</servlet-name>
		<url-pattern>/myorders</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Shipping</servlet-name>
		<servlet-class>controllers.Shipping</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Shipping</servlet-name>
		<url-pattern>/shipping</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Payment</servlet-name>
		<servlet-class>controllers.Payment</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Payment</servlet-name>
		<url-pattern>/payment</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Confirmation</servlet-name>
		<servlet-class>controllers.OrderConfirmation</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Confirmation</servlet-name>
		<url-pattern>/orderconfirmation</url-pattern>
	</servlet-mapping>




	
</web-app>